@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply border border-black px-3 py-2 cursor-pointer rounded;
}

.addToCart:active {
  background: black;
  color: white;
}

prevNext:active {
  background: #000;
  color: white;
}

.cat-btn:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

/* dropdown css */

.account-icon {
  position: relative;
}

.dropDownProfile {
  position: absolute;
  top: 54px;
  right: -10px;
  width: 120px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid grey;
}

/* .dropDownProfile {
  position: absolute;
  top: 4.5rem;
  right: 370px;
  width: 120px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid grey;
} */

.dropDownProfile::before {
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}
